.DS_Store
node_modules/
unpackage/
dist/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.project
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
uni-app/.DS_Store
.DS_Store
react/mng-test/build/asset-manifest.json
react/mng-test/build/favicon.ico
react/mng-test/build/index.html
react/mng-test/build/logo.png
react/mng-test/build/manifest.json
react/mng-test/build/precache-manifest.a879b2902a8998b252e06489ae4fb81b.js
react/mng-test/build/robots.txt
react/mng-test/build/service-worker.js
react/mng-test/build/theme.less
react/mng-test/build/assets/less.min.js
react/mng-test/build/images/icons/icon-72x72.png
react/mng-test/build/images/icons/icon-96x96.png
react/mng-test/build/images/icons/icon-128x128.png
react/mng-test/build/images/icons/icon-144x144.png
react/mng-test/build/images/icons/icon-152x152.png
react/mng-test/build/images/icons/icon-192x192.png
react/mng-test/build/images/icons/icon-384x384.png
react/mng-test/build/images/icons/icon-512x512.png
react/mng-test/build/static/css/2.79a2880f.chunk.css
react/mng-test/build/static/css/2.79a2880f.chunk.css.map
react/mng-test/build/static/css/3.260df227.chunk.css
react/mng-test/build/static/css/3.260df227.chunk.css.map
react/mng-test/build/static/css/main.ea016f67.chunk.css
react/mng-test/build/static/css/main.ea016f67.chunk.css.map
react/mng-test/build/static/js/2.b5ff7e28.chunk.js
react/mng-test/build/static/js/2.b5ff7e28.chunk.js.map
react/mng-test/build/static/js/3.fc25ad0c.chunk.js
react/mng-test/build/static/js/3.fc25ad0c.chunk.js.map
react/mng-test/build/static/js/4.c54ffa0c.chunk.js
react/mng-test/build/static/js/4.c54ffa0c.chunk.js.map
react/mng-test/build/static/js/main.565524d8.chunk.js
react/mng-test/build/static/js/main.565524d8.chunk.js.map
react/mng-test/build/static/js/runtime-main.84b2ab59.js
react/mng-test/build/static/js/runtime-main.84b2ab59.js.map
react/mng-test/build/static/media/b1.553c69e9.jpg
react/mng-test/build/static/media/beauty.defb9858.jpg
react/mng-test/build/static/media/default-skin.b257fa9c.svg
react/mng-test/build/static/media/y6oxFxU60dYw9khW6q8jGw.3c9ecb33.woff2
