
<!DOCTYPE html>
<html>
<head>
	<title>DaoHang</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
   
	<div id="dh">
		<ul>
			<li><a href="#">首页</a></li>
			<li><a href="#">音乐</a>
					<ul>
						<li><a href="https://y.qq.com/">QQ音乐</a></li>
						<li><a href="https://music.163.com/">网易云音乐</a></li>
					</ul>
				</li>
			<li><a href="#">电影</a>
					<ul>
						<li><a href="https://www.tegouys.com/">特狗影视1</a></li>
						<li><a href="https://www.tegouys.com/">特狗影视2</a></li>
						<li><a href="https://www.tegoudy.com/">特狗影视3</a></li>
					</ul>
				</li>
			<li><a href="#">知识</a>
					<ul>
						<li><a href="#">Java</a></li>
						<li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
						<li><a href="#">C#</a></li>
                        <li><a href="#">Python</a></li>
						<li><a href="#">NODE</a></li>
					</ul>
				</li>
				<li><a href="#">壁纸</a>
					<ul>
						<li><a href="https://pic.netbian.com/">彼岸图网</a></li>
						<li><a href="https://pic.netbian.com/">Wallhaven</a></li>
                        <li><a href="https://wallhere.com/">Wallhere</a></li>
						<li><a href="https://www.beiwangshan.com/tools/wp/index.html">北忘山</a></li>
                        <li><a href="https://www.3gbizhi.com/">3G</a></li>
						<li><a href="https://bz.zzzmh.cn/index">极简</a></li>
					</ul>
				</li>
		</ul>
	</div>
	<div class="container">
		<input type="text" placeholder="Search...">
		<div class="search"></div>
	  </div>
</body>
</html>